/* ====================== VARIABEL WARNA ====================== */
:root {
    --primary-color: #343A40; /* Untuk warna utama */
    --primary-color-hover: #5a5e61; /* Untuk warna utama yang di hover */

    --secondary-color: #28A745; /* Untuk warna sekunder */
    --secondary-color-hover: #2bce51; /* Untuk warna sekunder yang di hover */

    --accent-color: #027057; /* Untuk warna akses tertentu */
    --accent-color-RGBA: rgba(7, 240, 77, .5); /* Untuk warna semua form input */
}
/* ====================== AKHIR VARIABEL WARNA ====================== */


.dropdown-menu a:active {
    background-color: var(--secondary-color);
}
a {
	color: var(--secondary-color);
}
a:hover {
	color: var(--secondary-color-hover);
	text-decoration: none;
}
.dt-button.dropdown-item.buttons-columnVisibility {
	background-color: #fff;
}
.dt-button.dropdown-item.buttons-columnVisibility.active {
	background-color: var(--secondary-color) !important;
}
.paginate_button.page-item.active a {
	background-color: var(--secondary-color) !important;
	border: 1px solid var(--accent-color);
}
input:focus, select:focus, textarea:focus {
	border: 1px solid var(--secondary-color) !important;
	box-shadow: 0 0 6px var(--accent-color-RGBA) !important;
}
select {
	-webkit-appearance: none;  /* Untuk Chrome dan Safari */
	-moz-appearance: none;     /* Untuk Firefox */
	appearance: none;          /* CSS standar */
	background-color: #333;    /* Ganti dengan warna dark mode */
	color: white;              /* Warna teks */
	border: 1px solid #444;    /* Border */
	padding: 10px;             /* Padding untuk tampilan lebih baik */
  }

.my-alert-success {
	border: 1px solid var(--secondary-color) !important;
	color: var(--secondary-color) !important;
}
.my-alert-success .close {
	color: var(--accent-color) !important;
}
.my-alert-success .close:hover {
	color: var(--secondary-color) !important;
}

.my-alert-danger {
	border: 1px solid #b10716 !important;
	color: #b10716 !important;
}
.my-alert-danger .close {
	color: #690911 !important;
}
.my-alert-danger .close:hover {
	color: #b10716 !important;
}

/* NAV TABS MENU */
.my-nav-tabs .my-card-header {
	background-color: var(--primary-color) !important;
	color: #fff !important;
}
.my-nav-tabs .my-card-header .card-tools button i {
	transition: all .3s;
}
.my-nav-tabs .my-card-header .card-tools button:hover i {
	color: #fff !important;
}
.nav-tabs .nav-link {
	color: #333 !important;
	margin-left: 3px;
	transition: all .2s;
}
.nav-tabs .nav-link:hover {
	color: var(--secondary-color) !important;
}
.nav-tabs .nav-link.active {
	background-color: #fafafa;
	border-top: 2px solid var(--secondary-color-hover);
	border-left: 2px solid var(--secondary-color-hover);
	border-right: 2px solid var(--secondary-color-hover);
	color: var(--secondary-color-hover) !important;
	font-weight: bold;
}

/* SIDEBAR */
.my-bg-sidebar {
	background-color: var(--primary-color) !important;
}
.nav-sidebar .nav-item a.nav-link {
	transition: all .3s !important;
}
.nav-sidebar .nav-item a.nav-link:hover {
	background-color: var(--primary-color-hover) !important;
}
.nav-sidebar .nav-item a.active {
	background-color: var(--secondary-color) !important;
}
.nav-sidebar .nav-item a.active:hover {
	background-color: var(--secondary-color) !important;
}

/* SCROLL BAR */
::-webkit-scrollbar {
	width: 10px;
	scrollbar-color: #F0F0F0 #808080;
}
::-webkit-scrollbar-thumb {
	scrollbar-highlight-color: var(--accent-color);
	background-color: var(--accent-color);
	border-radius: 10px;
	border: 2px solid #fff;
}


/* ============================== STYLE DARK MODE ============================== */
/* Variabel */
:root {
    --primary-dark: #28A745; /* Untuk warna sekunder */
    --primary-dark-hover: #2bce51; /* Untuk warna sekunder yang di hover */
}
/* End Variabel */

/* body.dark-mode .brand-link:hover, body.dark-mode .breadcrumb li a:hover, body.dark-mode .main-footer a:hover, body.dark-mode .container-passconfpass-admin a:hover {
	color: var(--primary-dark-hover) !important;
} */
body.dark-mode .navbar {
	background-color: #343A40 !important;
}
body.dark-mode .navbar ul, body.dark-mode .navbar ul li, body.dark-mode .navbar ul li a {
	color: #bbb !important;
	transition: all .3s;
}
body.dark-mode .navbar ul li a:hover {
	color: #eee !important;
}
body.dark-mode .nav-tabs .nav-link {
	color: var(--primary-dark) !important;
}
body.dark-mode .nav-tabs .nav-link.active {
	background-color: #434a50 !important;
	color: var(--primary-dark-hover) !important;
	border-top: 2px solid var(--secondary-color-hover);
	border-left: 2px solid var(--secondary-color-hover);
	border-right: 2px solid var(--secondary-color-hover);
}
body.dark-mode .container-passconfpass-admin {
	background-color: #41484e !important;
}

/* Dark Auto Fill Inputan */
/* Menargetkan input yang terisi otomatis */
body.dark-mode input:-webkit-autofill {
	background-color: #343A40 !important; /* Ganti dengan warna background dark mode yang sesuai */
	color: white !important; /* Warna teks sesuai tema dark */
	box-shadow: 0 0 0px 1000px #343A40 inset !important; /* Pastikan border atau shadow sesuai */
}

body.dark-mode input:focus:-webkit-autofill {
	background-color: #343A40 !important; /* Ganti dengan warna dark mode */
	color: white !important; /* Warna teks sesuai tema dark */
}

/* Untuk browser selain WebKit (Firefox, dll) */
	body.dark-mode input:-moz-autofill {
	background-color: #343A40 !important;
	color: white !important;
}
  